/* CSS Reset Properties */
body,main,article,section,header,footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    flex-grow: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    border: white 2px solid;
    padding: 5px;
}
nav a:hover {
    color: black;


}
body {
    padding: 100px;
    font-size: 16px;
    background-color: black;
    color: white;
}
section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    /* background-attachment: fixed; */
}
/* individual class for section background images */
 .em {
    background-image: url(../images/01water.jpg);
    border:solid darkorange 1em;
    font-size: 1.2em;
 }
 .rem {
    background-image: url(../images/02water.jpg);
    border: dotted darkred .5rem;
 }
 .percent {
    background-image: url(../images/03water.jpg);
 }
 .percent p {
    width: 75%;
 }
.box {
    background-image: url(../images/04water.jpg);
    box-sizing: border-box;
    border: solid dodgerblue 3em;
}
.vw {
    background-image: url(../images/05water.jpg);
    border:  dashed 1vw;
    font-size: 1vw;
    box-sizing: border-box;
}
.hero {
    /* background-image: url(../images/06water.jpg); */ 
    border-top-right-radius: 2em;
   /* border: solid black 2px; */

}
.hero p {
    width: 50%;
}